body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: dotum;
    font-size: 16px;
    font-weight: 600;
    color: #101010
}

a{
    text-decoration: none;
    color: #dddddd;
}

p{
    line-height: 190%;
}/*==================== LOGO ======================*/

#logo{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #101010;
}

#logo img{
    height: 100px;
}

/*================== MENU ===================*/
#menu{
    background-color: #101010;
    height: 70px;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#menu li{
    display: inline-block;
}

#menu a{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 65px;
    color: #ffffff;
    padding: 0 40px;
    border-bottom: 3px solid #ffffff;
    display: block;
    font-weight: 100;
}

#menu a:hover{
    background-color: #ffffff;
    border-bottom: 3px solid #101010;
    color: #101010;
    transition: border-width 0.6s linear;
}

/*====================== HEADER ==================*/

#header{
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

#header h1{
    font-size: 30px;
    color: #101010;
}

#header p{
    color: #101010;
}


/*=================== BANNER =======================*/

#banner{
    height: 300px;
}

#banner img{
    width: 100%;
    height: 300px;
}

/*=================== PAGE ==================*/

#page{
    min-height: 400px;
    padding: 20px;
}

#page h2{
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    color: #101010;
}

#content{
    float: left;
    width: 70%;
}

#side-bar{
    float: right;
    width: 25%;
}

/*==================== LISTS ====================*/

ul.blog{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.blog li{
    border-top: solid 1px #e5e5e5;
    padding: 14px 0px;
}


/*=================== FOOTER =====================*/

#footer{
    width: 100%;
    height: 340px;
    background-color: #1e1b1a;
    padding-top: 25px;
    padding-left: 22px;
    clear: both;
}

#footer h2{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}
#footer p{
    color: #adadad;
}

#footer a{
    color: #adadad;
}

#box1{
    float: left;
    width: 30%;
    padding-right: 30px;
}

#box2{
    float: left;
    width: 30%;
    padding-right: 30px;
}

#box3{
    float: right;
    width: 30%;
    padding-left: 30px;
}

/*====================== CAR =======================*/

.car{
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    box-shadow: 10px 5px 5px #101010;
    margin: 10px;
    height: 300px;
    text-align: center;
}

.car i{
    color: lightblue;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
}

.car a{
    color: lightblue;
    font-size: 14px;
    border: 1px solid blue;
    padding: 10px;
    position: relative;
    top: 10px;
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 4px;
}
.car a:hover{
    color: blue;
    border: 1px solid lightblue;
    background-color: lightblue;
    border-radius: 4px;
}

.car img{
    width: 250px;
    padding-right: 20px;
    border-radius: 8px;
}
/*==================== DETAILS=============================*/

.details{
    display: block;
    width: 90%;
    border: 1px solid blue;
    border-radius: 8px;
    text-align: center;
}

.details i{
    width: 150px;
}
/*====================== ABOUT =====================*/

#about{
    clear: both;
    color: #ffffff;
    background-color: #101010;
    text-align: center;
    padding: 20px;
}

/*================= COPYRIGHT ==============*/

#copyright{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #lightblue;
    padding-top: 55px;
    clear: both;
}

#copyright p{
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #101010;
}

/*================= contact ====================*/

input{
    display: block;
}

input[type="textarea"]{
    width: 400px;
    height: 70px;
    
}